gitchangelog @ https://github.com/sarnold/gitchangelog/releases/download/3.2.0/gitchangelog-3.2.0-py3-none-any.whl
importlib-metadata; python_version < '3.8'
importlib-resources; python_version < '3.10'
munch[yaml]
PyYAML
