name: Security check - Bandit

on:
  push:
    branches: [ "*" ]

permissions:
  contents: read

jobs:
  security_check:
    runs-on: ubuntu-22.04
    permissions:
      checks: write # for bandit-report-artifacts to publish the checks
      contents: read # for actions/checkout to fetch code
      security-events: write # for bandit-report-artifacts to upload results
      actions: read # only on private (maybe?) required to get the Action run status

    steps:
    - uses: actions/checkout@v4

    - name: Run bandit
      uses: VCTLabs/bandit-report-artifacts@b0679c4dff0c2ed69000132fabf6a9e1b7dcfd5c  # v0.0.3
      with:
        project_path: src
        ignore_failure: false
        config_file: pyproject.toml
